<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        登录
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../javascripts/rem.js"></script>
    <link href="../stylesheets/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>
    <div class="con">
        <!--导航栏-->
        <div class="nav">
            <ul id="nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="#">帮助中心</a>
                </li>
                <li>
                    <a href="/cinema">影片</a>
                </li>
                <li>
                    <a href="#">想看</a>
                </li>
                <li>
                    <a href="/user/login">登录</a>
                </li>
                <li style=" background:none;">
                    <a href="/user/register">注册</a>
                </li>
            </ul>
        </div>

        <form class="login-frame" method="post">
            <p>帅逼电影</p>
            <div class="user-admin">
                <span class="user active">用户</span>
                <span class="admin">管理</span>
            </div>
            <input type="text" placeholder="请输入您的手机号" id="login-mobile" name="login-mobile">
            <span class="tips"></span>
            <input type="password" placeholder="密码为6-12位数字和英文组合" id="login-pwd" name="login-pwd">
            <span class="tips"></span>
            <input type="button" value="登录" id="login">
            <span class="no">没有账号，
                <a class="registerNow" href="/user/register">立即注册</a>
            </span>
        </form>
    </div>
    </div>
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../javascripts/login.js"></script>
</body>

</html>