.con .detailHead {
  width: 100%;
  position: relative;
}
.con .detailHead img {
  width: 100%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.con .detailHead .Mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 0;
}
.con .detailHead .Mask .listCon {
  width: 65%;
  margin: auto;
}
.con .detailHead .Mask .listCon .title {
  color: white;
  width: 100%;
  font-size: 0.09rem;
  font-weight: 200;
  padding: 0.15rem 0 0.1rem 0;
  border-bottom: 2px solid black;
}
.con .detailHead .Mask .listCon .title span {
  font-size: 0.06rem;
}
.con .detailHead .Mask .listCon .container {
  width: 100%;
}
.con .detailHead .Mask .listCon .container .left {
  padding-top: 0.1rem;
  width: 17%;
  float: left;
  position: relative;
}
.con .detailHead .Mask .listCon .container .left img {
  width: 100%;
  cursor: pointer;
  opacity: 1;
}
.con .detailHead .Mask .listCon .container .left .mask {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0.02rem 0;
  display: none;
}
.con .detailHead .Mask .listCon .container .left .mask img {
  width: 12%;
}
.con .detailHead .Mask .listCon .container .left .mask span {
  color: white;
  font-weight: 200;
  padding: 0 0.08rem;
  font-size: 0.05rem;
  cursor: pointer;
}
.con .detailHead .Mask .listCon .container .right {
  width: 45%;
  padding: 0.1rem 0 0 0.4rem;
  float: left;
  color: white;
  height: 1.63rem;
}
.con .detailHead .Mask .listCon .container .right .Title {
  color: white;
  float: left;
  font-size: 0.13rem;
  font-weight: bold;
}
.con .detailHead .Mask .listCon .container .right .Title span {
  color: #006ECC;
  font-size: 0.05rem;
  display: inline-block;
  padding: 0 0.2rem;
}
.con .detailHead .Mask .listCon .container .right .type,
.con .detailHead .Mask .listCon .container .right .act,
.con .detailHead .Mask .listCon .container .right .main,
.con .detailHead .Mask .listCon .container .right .number,
.con .detailHead .Mask .listCon .container .right .introduce {
  display: inline-block;
  width: 100%;
  padding: 0.1rem 0 0 0;
  float: left;
  font-size: 0.075rem;
  font-weight: 200;
  line-height: 0.12rem;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.con .detailContent {
  width: 65%;
  margin: auto;
  padding: 0.15rem 0;
}
.con .detailContent .left {
  width: 72%;
  float: left;
}
.con .detailContent .left .arrange {
  font-size: 0.12rem;
  padding: 0.08rem 0;
  float: left;
}
.con .detailContent .left .arrange:nth-child(2) {
  margin-left: 0.2rem;
}
.con .detailContent .left .chooseTime {
  width: 100%;
  float: left;
  border-top: 1px solid #F6F6F6;
  padding: 0.1rem 0;
}
.con .detailContent .left .chooseTime span {
  color: #888888;
  font-size: 0.05rem;
  padding: 0.05rem 0.09rem 0.05rem 0;
}
.con .detailContent .left .chooseTime .time {
  display: inline-block;
  padding: 0.09rem 0.05rem;
  border-radius: 5px;
  cursor: pointer;
  background: #F6F6F6;
  margin-left: 0.03rem;
}
.con .detailContent .left .chooseTime .active {
  background: #006ECC;
  color: white;
}
.con .detailContent .left .choose-area {
  width: 100%;
  float: left;
  font-size: 0.05rem;
  color: #AAAAAA;
  padding: 0.05rem 0;
}
.con .detailContent .left .choose-area span {
  display: inline-block;
  padding: 0.02rem 0.05rem;
  border-radius: 3px;
  cursor: pointer;
}
.con .detailContent .left .choose-area .active {
  color: white;
  background: #006ECC;
}
.con .detailContent .left .choose-area span:first-child {
  margin-left: 0.15rem;
}
.con .detailContent .left .cinemaName {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 0.05rem 0;
  font-size: 0.09rem;
}
.con .detailContent .left .cinemaName:hover {
  color: #006ECC;
}
.con .detailContent .left .address {
  width: 100%;
  padding: 0.05rem 0;
  font-size: 0.05rem;
  color: #AAAAAA;
}
.con .detailContent .left .address .tel {
  padding: 0 0.15rem;
}
.con .detailContent .left .Info {
  padding: 0.08rem 0;
}
.con .detailContent .left .Info li .title {
  width: 100%;
  background: #F9F9F9;
  padding: 0.05rem 0;
  border: 1px solid #F9F9F9;
}
.con .detailContent .left .Info li .title span {
  font-size: 0.05rem;
  color: #AAAAAA;
  display: inline-block;
  padding-left: 0.6rem;
}
.con .detailContent .left .Info li .Detail {
  width: 100%;
  padding: 0.05rem 0;
  border: 1px solid #F9F9F9;
}
.con .detailContent .left .Info li .Detail span {
  font-size: 0.05rem;
  color: #888888;
  display: inline-block;
  padding: 0.05rem 0 0.05rem 0.5rem;
}
.con .detailContent .left .Info li .Detail .ting,
.con .detailContent .left .Info li .Detail .price {
  padding-left: 0.6rem;
}
.con .detailContent .left .Info li .Detail .buy {
  display: inline-block;
  padding: 0.02rem 0.08rem;
  font-size: 0.03rem;
  background: #006ECC;
  color: white;
  cursor: pointer;
  margin-left: 0.62rem;
  border-radius: 0.07rem;
}
.con .detailContent .left .Info li .Detail:hover {
  background: #F9F9F9;
}
.con .detailContent .right {
  float: left;
  width: 27%;
  border: 1px solid #F9F9F9;
}
.con .detailContent .right .head {
  font-size: 0.1rem;
  background: #F9F9F9;
  padding: 0.07rem 0 0.05rem 0.1rem;
}
.con .detailContent .right .head span {
  color: #006ECC;
  font-size: 0.06rem;
  float: right;
  padding-right: 0.07rem;
  cursor: pointer;
  padding-top: 0.02rem;
}
.con .detailContent .right .nowHot {
  padding: 0.08rem 0.05rem 0.08rem 0.07rem;
}
.con .detailContent .right .nowHot li .hotInfo {
  width: 100%;
  padding: 0.06rem 0;
}
.con .detailContent .right .nowHot li .hotInfo img {
  width: 35%;
  float: left;
  cursor: pointer;
}
.con .detailContent .right .nowHot li .hotInfo .zi {
  width: 60%;
  float: right;
}
.con .detailContent .right .nowHot li .hotInfo .zi .p1 {
  font-size: 0.09rem;
  padding-bottom: 0.02rem;
}
.con .detailContent .right .nowHot li .hotInfo .zi .p1 span {
  color: #006ECC;
  font-size: 0.06rem;
  float: right;
  cursor: pointer;
  padding-top: 0.02rem;
}
.con .detailContent .right .nowHot li .hotInfo .zi .sp1 {
  font-size: 0.05rem;
  color: #AAAAAA;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.03rem;
  white-space: nowrap;
}
.con .detailContent .right .nowHot li .hotInfo .zi .sp2 {
  color: #FF7700;
  font-size: 0.1rem;
  padding-top: 0.03rem;
}
.con .detailContent .right .nowHot li .hotInfo .zi .sp2 .sp3 {
  color: #AAAAAA;
  font-size: 0.07rem;
}
.con .detailContent .right .nowHot li .hotInfo .zi .sp2 .buy {
  display: inline-block;
  padding: 0.02rem 0.08rem;
  font-size: 0.03rem;
  background: #006ECC;
  color: white;
  cursor: pointer;
  float: right;
  border-radius: 0.07rem;
  display: none;
}
