body{
  background: url("../images/bg.jpg");
}
.con{
  .login-frame{
    box-shadow: 10px 10px 5px #888888;
    width: 25%;
    margin: 0.4rem auto;
    background: white;
    padding: 0.08rem 0 1.7rem 0;
    p{
      text-align: center;
      width: 100%;
      padding: 0.06rem 0;
      font-family: 隶书;
      font-size: 0.2rem;
      font-weight: 200;
    }
    .user-admin{
      width: 100%;
      text-align: center;
      padding: 0.09rem 0;
      span{
        padding: 0.03rem 0.06rem;
        color: #888888;
        font-size: 0.06rem;
        border: 1px solid #F6F6F6;
        background: #F6F6F6;
        cursor: pointer;
      }
      .active{
        background: lightblue;
        color: white;
      }
    }
    #login-mobile,#login-pwd{
      border: 1px solid #F6F6F6;
      background: #F6F6F6;
      padding: 0.06rem 0 0.06rem 0.05rem;
      width: 66%;
      margin: 0.08rem 0 0 16%;
      font-size: 0.05rem;
    }
    #login-pwd{
      margin-top: 0.05rem;
    }
    .tips{
      display: inline-block;
      padding: 0.03rem 0;
      width: 66%;
      margin: 0.05rem 0 0 16%;
      font-size: 0.05rem;
      height: 0.05rem;
    }
    #login{
      width: 66%;
      margin: 0.05rem 0 0 16%;
      padding: 0.05rem 0;
      font-size: 0.08rem;
      color: white;
      font-family: 宋体;
      background: rgb(10,167,246);
      cursor: pointer;
    }
    .no{
      display: inline-block;
      padding: 0.25rem 0;
      width: 66%;
      margin: 0 0 0 16%;
      font-size: 0.05rem;
      height: 0.05rem;
      text-align: center;
      .registerNow{
        color: rgb(10,167,246);
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1150px) and (max-width: 1410px){
  .con{
    .login-frame{
      width: 35%;
      padding: 0.08rem 0 3rem 0;
      p{
        font-size: 0.23rem;
      }
      #login-mobile,#login-pwd{
        margin-top: 0.3rem;
        padding: 0.08rem 0 0.08rem 0.05rem;
      }
      #login-pwd{
        margin-top: 0.2rem;
      }
      .tips{
        height: 0.15rem;
      }
      #login{
        padding: 0.08rem 0;
        margin-top: 0.2rem;
      }
    }
  }
}