<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        电影
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../javascripts/rem.js"></script>
    <link href="../stylesheets/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/cinema.css">
</head>

<body>
    <div class="con">
        <!--导航栏-->
        <div class="nav">
            <ul id="nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="#">帮助中心</a>
                </li>
                <li>
                    <a href="/cinema">电影</a>
                </li>
                <li>
                    <a href="/user/want">想看</a>
                </li>
                <li>
                    <a href="/user/login">
                        <%=login%>
                    </a>
                </li>
                <li style=" background:none;">
                    <a href="/user/register">
                        <%=register%>
                    </a>
                </li>
                <li id="user">
                    <a href="#">
                        <%=user%>
                    </a>
                </li>
            </ul>
        </div>

        <div class="cinemaContent">
            <div class="left clearfix">
                <div class="title">
                    <span>正在热映</span>
                </div>
                <div class="type">
                    <span class="kind">影片类型</span>
                    <ul>
                        <li>
                            <span class="active" id="all">全部</span>
                        </li>
                        <li>
                            <span>喜剧</span>
                        </li>
                        <li>
                            <span>剧情</span>
                        </li>
                        <li>
                            <span>动作</span>
                        </li>
                        <li>
                            <span>冒险</span>
                        </li>
                        <li>
                            <span>爱情</span>
                        </li>
                        <li>
                            <span>悬疑</span>
                        </li>
                        <li>
                            <span>战争</span>
                        </li>
                        <li>
                            <span>动画</span>
                        </li>
                        <li>
                            <span>家庭</span>
                        </li>
                        <li>
                            <span>纪录片</span>
                        </li>
                        <li>
                            <span>科幻</span>
                        </li>
                    </ul>
                </div>
                <!-- cinemas -->
            </div>
            <div class="right">
                <div class="RankAll">
                    <div class="rank clearfix">
                        <p class="title">周热映排行</p>
                        <div class="rank-name-session clearfix">
                            <span class="sp1">排行</span>
                            <span class="sp2">片名</span>
                            <span class="sp3">上映场次</span>
                        </div>
                        <ul class="week clearfix">
                            <li>
                                <span class="sp0">1
                                    <span class="sp1">马戏之王</span>
                                    <span class="sp2">69场</span>
                                </span>
                                <div>
                                    <img src="../images/rank4.jpg" alt="" class="show">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <span class="sp1">神秘巨星</span>
                                    <span class="sp2">30场</span>
                                </span>
                                <div>
                                    <img src="../images/rank5.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <span class="sp1">南极之恋</span>
                                    <span class="sp2">22场</span>
                                </span>
                                <div>
                                    <img src="../images/rank6.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <span class="sp1">无问西东</span>
                                    <span class="sp2">18场</span>
                                </span>
                                <div>
                                    <img src="../images/rank7.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <span class="sp1">马戏之王</span>
                                    <span class="sp2">69场</span>
                                </span>
                                <div>
                                    <img src="../images/rank4.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank clearfix">
                        <p class="title">新片排行榜</p>
                        <div class="rank-name-session clearfix">
                            <span class="sp1">排行</span>
                            <span class="sp2">片名</span>
                            <span class="sp3">上映日期</span>
                        </div>
                        <ul class="week clearfix">
                            <li>
                                <span class="sp0">1
                                    <span class="sp1">西游女儿国</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank1.jpg" alt="" class="show">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <span class="sp1">捉妖记2</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank2.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <span class="sp1">唐人街探案2</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank3.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <span class="sp1">红海行动</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/4.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <span class="sp1">祖宗十八代</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/5.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank clearfix">
                        <p class="title">热门影院</p>
                        <ul class="hot clearfix">
                            <li>
                                <span class="sp0">1
                                    <a href="#">南京达美影城（太阳宫店）</a>
                                </span>
                                <span class="sp3">玄武区 - 玄武区阳光路3号太阳宫广场</span>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <a href="#">SFC上影影城（南京新城市广场店）</a>
                                </span>
                                <span class="sp3">鼓楼区 - 南京市草场门大街99号新城市广场三层</span>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <a href="#">幸福蓝海国际影城-世茂滨江店</a>
                                </span>
                                <span class="sp3">鼓楼区 - 鼓楼区南通路99号4号楼</span>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <a href="#">南京大华大戏院</a>
                                </span>
                                <span class="sp3">玄武区 - 玄武区阳光路3号太阳宫广场</span>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <a href="#">南京耀莱成龙国际影城板桥店</a>
                                </span>
                                <span class="sp3">雨花台区 - 雨花台区新湖大道9号花生唐商业街3号楼</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--尾部标签-->
        <footer class="clearfix">
            <div class="title clearfix">
                <img src="../images/movie.png" alt="">
            </div>
            <div class="help">
                <p>购票帮助:</p>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
            </div>
            <div class="wechat clearfix">
                <img src="../images/shuaibi.png" alt="">
                <p>帅哥票务微信</p>
            </div>
        </footer>
        <!--结束说明-->
        <div class="end clearfix">
            <span>&copy2000-2017&nbsp&nbsp&nbsp国美在线电子商务有限公司&nbsp&nbsp&nbsp版权 所有&nbsp&nbsp&nbsp沪ICP备11009419号&nbsp&nbsp&nbsp沪B2-20120004号
            </span>
        </div>
    </div>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
    <script src="../javascripts/cinema.js"></script>
</body>

</html>