<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../javascripts/rem.js"></script>
    <link href="../stylesheets/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/detail.css">
</head>

<body>
    <div class="con">
        <!--头部影片介绍-->
        <div class="detailHead clearfix">
            <img src="../images/head2.jpg" alt="">
            <div class="Mask clearfix">
                <div class="listCon clearfix">
                    <p class="title">票务
                        <span>&nbsp>&nbsp电影票&nbsp>&nbsp影片&nbsp>&nbsp</span>
                        <span class="sp1">南极之恋</span>
                    </p>
                    <div class="container clearfix">
                        <div class="left clearfix">
                            <img src="../images/detail-1.jpg" alt="">
                            <div class="mask clearfix">
                                <img src="../images/love-2.png" alt="">
                                <span>想看</span>
                            </div>
                        </div>
                        <div class="right clearfix">
                            <p class="Title">南极之恋
                                <span>8.0分</span>
                            </p>
                            <span class="type">90分钟 - 爱情</span>
                            <span class="act">导演：
                                <span class="actor">吴有音</span>
                            </span>
                            <span class="main">主演：
                                <span class="starring">赵又廷,杨子姗</span>
                            </span>
                            <span class="number">2家影院上映27场</span>
                            <span class="introduce">
                                剧情概要：
                                <span class="content">
                                    南极，一场坠机，婚庆公司老板吴富春（赵又廷 饰）和 高空物理学家荆如意（杨子姗 饰）相遇， 两个毫无共同语言的男女在南极腹地无人区冒险生存75天。在酷寒、没有物质供应、随处都是绝境的环境中， 活下去已经变成每一天的最大愿望。在寻找救援的过程中，这对性格水火不容但命运却又相濡以沫的人，敬畏了自然，领悟了爱情。
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--中间影院以及热映-->
        <div class="detailContent clearfix">
            <div class="left">
                <span class="arrange">排片/购票</span>
                <div class="chooseTime">
                    <span>选择时间</span>
                    <span class="time active">2月6号</span>
                    <span class="time">2月6号</span>
                    <span class="time">2月6号</span>
                </div>
                <p class="choose-area">选择区域
                    <span class="active">全部</span>
                    <span>鼓楼区</span>
                </p>
                <p class="choose-area">选择影院
                    <span class="active">SFC上影影城（南京新城市广场店）</span>
                    <span>SFC上影影城（南京新城市广场店）幸福蓝海国际影城-世茂滨江店</span>
                </p>
                <a href="#" class="cinemaName">SFC上影影城（南京新城市广场店）</a>
                <p class="address">南京市草场门大街99号新城市广场三层
                    <span class="tel">电话：025-86224090</span>
                </p>
                <ul class="Info">
                    <li>
                        <p class="title">
                            <span>放映时间</span>
                            <span>语言版本</span>
                            <span>放映厅</span>
                            <span>影票价</span>
                            <span>选座购票</span>
                        </p>
                    </li>
                    <li>
                        <p class="Detail">
                            <span>11：20~12：50</span>
                            </span>
                            <span>国语2D</span>
                            <span class="ting">4号厅</span>
                            <span class="price">￥29</span>
                            <span class="buy">选座购票</span>
                        </p>
                    </li>
                    <li>
                        <p class="Detail">
                            <span>11：20~12：50</span>
                            </span>
                            <span>国语2D</span>
                            <span class="ting">4号厅</span>
                            <span class="price">￥29</span>
                            <span class="buy">选座购票</span>
                        </p>
                    </li>
                    <li>
                        <p class="Detail">
                            <span>11：20~12：50</span>
                            </span>
                            <span>国语2D</span>
                            <span class="ting">4号厅</span>
                            <span class="price">￥29</span>
                            <span class="buy">选座购票</span>
                        </p>
                    </li>
                    <li>
                        <p class="Detail">
                            <span>11：20~12：50</span>
                            </span>
                            <span>国语2D</span>
                            <span class="ting">4号厅</span>
                            <span class="price">￥29</span>
                            <span class="buy">选座购票</span>
                        </p>
                    </li>
                    <li>
                        <p class="Detail">
                            <span>11：20~12：50</span>
                            </span>
                            <span>国语2D</span>
                            <span class="ting">4号厅</span>
                            <span class="price">￥29</span>
                            <span class="buy">选座购票</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right clearfix">
                <p class="head">正在热映影片
                    <span>更多</span>
                </p>
                <ul class="nowHot clearfix">
                    <li>
                        <div class="hotInfo clearfix">
                            <img src="../images/hotInfo1.png" alt="">
                            <div class="zi">
                                <p class="p1">浪矢解忧杂货店
                                    <span>8.0分</span>
                                </p>
                                <span class="sp1">129分钟 - 剧情</span>
                                <span class="sp1">导演：广木隆一</span>
                                <span class="sp1">主演：山田凉介,村上虹郎,宽一郎,成海璃子,门胁麦</span>
                                <span class="sp1">2月2日上映</span>
                                <span class="sp2">24
                                    <span class="sp3">元起</span>
                                    <span class="buy">选座购票</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hotInfo clearfix">
                            <img src="../images/hotInfo1.png" alt="">
                            <div class="zi">
                                <p class="p1">浪矢解忧杂货店
                                    <span>8.0分</span>
                                </p>
                                <span class="sp1">129分钟 - 剧情</span>
                                <span class="sp1">导演：广木隆一</span>
                                <span class="sp1">主演：山田凉介,村上虹郎,宽一郎,成海璃子,门胁麦</span>
                                <span class="sp1">2月2日上映</span>
                                <span class="sp2">24
                                    <span class="sp3">元起</span>
                                    <span class="buy">选座购票</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hotInfo clearfix">
                            <img src="../images/hotInfo1.png" alt="">
                            <div class="zi">
                                <p class="p1">浪矢解忧杂货店
                                    <span>8.0分</span>
                                </p>
                                <span class="sp1">129分钟 - 剧情</span>
                                <span class="sp1">导演：广木隆一</span>
                                <span class="sp1">主演：山田凉介,村上虹郎,宽一郎,成海璃子,门胁麦</span>
                                <span class="sp1">2月2日上映</span>
                                <span class="sp2">24
                                    <span class="sp3">元起</span>
                                    <span class="buy">选座购票</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hotInfo clearfix">
                            <img src="../images/hotInfo1.png" alt="">
                            <div class="zi">
                                <p class="p1">浪矢解忧杂货店
                                    <span>8.0分</span>
                                </p>
                                <span class="sp1">129分钟 - 剧情</span>
                                <span class="sp1">导演：广木隆一</span>
                                <span class="sp1">主演：山田凉介,村上虹郎,宽一郎,成海璃子,门胁麦</span>
                                <span class="sp1">2月2日上映</span>
                                <span class="sp2">24
                                    <span class="sp3">元起</span>
                                    <span class="buy">选座购票</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="hotInfo clearfix">
                            <img src="../images/hotInfo1.png" alt="">
                            <div class="zi">
                                <p class="p1">浪矢解忧杂货店
                                    <span>8.0分</span>
                                </p>
                                <span class="sp1">129分钟 - 剧情</span>
                                <span class="sp1">导演：广木隆一</span>
                                <span class="sp1">主演：山田凉介,村上虹郎,宽一郎,成海璃子,门胁麦</span>
                                <span class="sp1">2月2日上映</span>
                                <span class="sp2">24
                                    <span class="sp3">元起</span>
                                    <span class="buy">选座购票</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--尾部标签-->
        <footer class="clearfix">
            <div class="title clearfix">
                <img src="../images/movie.png" alt="">
            </div>
            <div class="help">
                <p>购票帮助:</p>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
            </div>
            <div class="wechat clearfix">
                <img src="../images/shuaibi.png" alt="">
                <p>帅哥票务微信</p>
            </div>
        </footer>
        <!--结束说明-->
        <div class="end clearfix">
            <span>&copy2000-2017&nbsp&nbsp&nbsp国美在线电子商务有限公司&nbsp&nbsp&nbsp版权 所有&nbsp&nbsp&nbsp沪ICP备11009419号&nbsp&nbsp&nbsp沪B2-20120004号
            </span>
        </div>
    </div>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/detailMouse.js"></script>
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
</body>

</html>