<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        电影信息
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../javascripts/rem.js"></script>
    <link href="../stylesheets/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>
    <div class="con">
        <!--导航栏-->
        <div class="nav">
            <ul id="nav">
                <ul id="nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="#">帮助中心</a>
                    </li>
                    <li>
                        <a href="#">影片</a>
                    </li>
                    <li>
                        <a href="#">想看</a>
                    </li>
                    <li>
                        <a href="/user/login"><%=login%></a>
                    </li>
                    <li style=" background:none;">
                        <a href="/user/register"><%=register%></a>
                    </li>
                    <li id="user">
                        <a href="#"><%=user%></a>
                    </li>
                </ul>
        </div>
        <!-- 服务中心 -->
    
    </div>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../javascripts/jquery-1.8.3.min.js"></script>
</body>

</html>