<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        shuai bi
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="../javascripts/rem.js"></script>
    <link href="../stylesheets/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>
    <div class="con">
        <!--导航栏-->
        <div class="nav">
            <ul id="nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="#">帮助中心</a>
                </li>
                <li>
                    <a href="#">影片</a>
                </li>
                <li class="want">
                    <a href="#">想看</a>
                </li>
                <li>
                    <a href="/user/login"><%=login%></a>
                </li>
                <li style=" background:none;">
                    <a href="/user/register"><%=register%></a>
                </li>
                <li id="user">
                    <a href="#"><%=user%></a>
                </li>
            </ul>
        </div>
        <!--轮播图-->
        <div class="shuffling clearfix">
            <div class="head">
                <img src="../images/head1.jpg" alt="">
                <img src="../images/head2.jpg" alt="">
                <img src="../images/head3.jpg" alt="">
            </div>
            <div class="before clearfix" id="before">
                <img src="../images/before.png" alt="">
            </div>
            <div class="next clearfix" id="next">
                <img src="../images/next.png" alt="">
            </div>
        </div>
        <!--轮播图的介绍-->
        <div class="info clearfix">
            <div class="top clearfix" id="top">
                <img src="../images/top1.jpg" alt="">
                <img src="../images/top2.jpg" alt="">
                <img src="../images/top3.jpg" alt="">
            </div>
            <session class="hide">
                <div class="detail clearfix">
                    <p class="name clearfix">《女儿国》</p>
                    <span class="actor">导演：郑保瑞
                        <span>主演：郭富城,冯绍峰,赵丽颖,小沈阳,罗仲谦,林志玲,梁咏琪,刘涛,苑琼丹,潘斌龙,施诗120分钟
                        </span> - 剧情 动作 冒险
                    </span>
                    <div class="address clearfix">
                        <a href="#">
                            幸福蓝海国际影城
                        </a>
                        <ul>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span class="sp1">44</span>
                    <span class="sp2">元起</span>
                    <p class="buy">选座购票</p>
                </div>
                <div class="introduce">
                    <div class="title">
                        <a>西游女儿国</a>
                        <span class="sp1">8.0分</span>
                        <br>
                        <span class="sp2">1月5号上映</span>
                    </div>
                </div>
            </session>
            <session class="hide">
                <div class="detail clearfix">
                    <p class="name clearfix">《南极之恋》</p>
                    <span class="actor">导演：吴有音
                        <span>主演：赵又廷,杨子姗90分钟
                        </span> - 爱情
                    </span>
                    <div class="address clearfix">
                        <a href="#">
                            幸福蓝海国际影城
                        </a>
                        <ul>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span class="sp1">44</span>
                    <span class="sp2">元起</span>
                    <p class="buy">选座购票</p>
                </div>
                <div class="introduce">
                    <div class="title">
                        <a>南极之恋</a>
                        <span class="sp1">8.0分</span>
                        <br>
                        <span class="sp2">1月5号上映</span>
                    </div>
                </div>
            </session>
            <session class="show">
                <div class="detail clearfix">
                    <p class="name clearfix">《星球大战8》</p>
                    <span class="actor">导演：莱恩·约翰逊
                        <span>主演：黛西·雷德利,约翰· 博耶加,亚当·德赖弗,马克·哈米尔,凯丽·费雪,奥斯卡·伊萨克 ,多姆纳尔·格里森,本尼西奥·德尔·托罗,劳 拉·邓恩,格温多兰·克里斯蒂,露皮塔·尼永奥152分钟
                        </span> - 动作 冒险 科幻
                    </span>
                    <div class="address clearfix">
                        <a href="#">
                            幸福蓝海国际影城
                        </a>
                        <ul>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                            <li>
                                <span class="sp1">11: 05</span>
                                <span class="sp2">44</span>
                                <span class="sp1">元</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="price">
                    <span class="sp1">44</span>
                    <span class="sp2">元起</span>
                    <p class="buy">选座购票</p>
                </div>
                <div class="introduce">
                    <div class="title">
                        <a>星球大战8之最后的绝地武士</a>
                        <span class="sp1">8.0分</span>
                        <br>
                        <span class="sp2">1月5号上映</span>
                    </div>
                </div>
            </session>
        </div>
        <!--内容-->
        <div class="content clearfix">
            <!--正在热映-->
            <p class="navigation clearfix">正在热映
                <span>22部影片</span>
            </p>
            <div class="movie clearfix">
                <ul class="clearfix">
                    <li class="LI clearfix">
                        <div class="listCon">
                            <img src="../images/13.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>星球大战8之最后的绝地武士</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">《星球大战8》（Star Wars: Episo de VIII）是动作、科幻、冒险电影《星球大战后传》系列的第2部，由莱恩·约翰逊执 导，黛茜·雷德利、约翰·波耶加、格温多兰·克里斯蒂、奥斯卡·伊萨克联合主演。影片故事紧接
                                《星球大战：原力觉醒》，讲述了遥远的银河系中恐怖政权“第一秩序 ”袭击新共和国首都之后的事。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/6.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>芳华</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">影片讲述了在充满理想和激情的军 队文工团，一群正值芳华的青春少年，经历着成长中 的爱情萌发与充斥变数的人生命运。质朴善良的刘峰因为经常为大 家服务，在文工团被称为“活雷锋”、“万金油”。从农村来到军队文工团的何小萍，
                                因“不良习气”屡次遭到文工团女兵萧穗子、林丁丁、郝淑雯等人的歧视与排斥。刘峰、何小萍、萧穗子、林丁丁、 郝淑雯、陈灿等人情感缠绕、交集，大时代的背景之下，每个人的命运大相径庭，却都拥有着出人意料的人生归宿。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">39</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/3.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>绝命时钟2之22</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">有严格作息规律的男主角迪伦(哈思曼 饰)有一种天生的洞察规律的能力， 某日下午2时22分，身为航空管制员迪伦·布兰森被神秘光亮所麻痹， 而这差点让他指挥的飞机失事。从此他每天都会感受到这光亮，渐渐发现自己身处某种循环之中
                                。一次非常偶然的机会，迪伦遇见了让他一见钟情的莎拉（泰莉莎 饰），二人聊天惊讶发现， 莎拉就是迪伦差点酿成飞行事故的航班乘客，非常巧合的是他们同年同月同日出生。 随着二人的了解深入，迪伦与莎拉的巧合也越来越多，频繁出现的幻觉与不断循环的事件
                                将二人的命运与三十年前发生在纽约中央车站一起情杀案联系在一起， 迪伦一直探究“2:22”背后的秘密，发现三十年前的凶杀案即将重演。 ...
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">39</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/12.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>勇敢者游戏之决战丛林</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">影片主要讲述四名性格迥异的高中生意外穿越到险象环生的勇敢者游戏中， 变身成为与自身性格外貌截然不同的游戏角色： 瘦小“弱鸡”斯宾塞变成了硬汉冒险家(道恩·强森饰)，高大威猛的运动员弗里奇，
                                变成了身材迷你的龟速行李手 (凯文·哈特 饰)，万人迷校花贝珊妮变成一个中年发福教授(杰克·布莱克饰)， 害羞内向的学霸玛莎变成了魅力十足的热辣女战士(凯伦·吉兰饰)。 面对丛林猛兽的袭击和邪恶势力的追捕，四人必须共同合作，战胜重重危机，赢得游戏，才能获得重返现实的机会。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/2.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>公牛历险记</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：改编自著名童话《公牛费迪南》，讲述体型庞大的牛费迪南其实温 柔又笨拙，他会屈服于命运成为一只勇猛的斗牛吗？给小兔子做牛工呼吸也是够了！WWE巨星约翰·塞纳配音费迪南，蜜汁 适合，SNL的凯特·迈克金农，《处女孕事》女主吉娜·罗德里格兹、著名逗比安东尼·安德森参与配音。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">29</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/7.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>谜巢</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：生物科技公司研究员卢克·李（吴尊 饰）深入一座古墓随即失去音讯，剧毒生物 学博士嘉·李（李冰冰 饰）得知弟弟卢克失踪的消息，随即与医药集团总裁梅森·伯罗斯（凯尔希 ·格兰莫 饰）组建一支专业的搜救队，在救援队长杰克·雷德利（凯南·鲁兹饰
                                ）的带领下，一行人前往卢克·李失踪的地点搜寻，却意外闯入神秘地下世界，一段意想不到冒险之旅就此展开……
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>

                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/12.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>勇敢者游戏之决战丛林</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">影片主要讲述四名性格迥异的高中生意外穿越到险象环生的勇敢者游戏中， 变身成为与自身性格外貌截然不同的游戏角色： 瘦小“弱鸡”斯宾塞变成了硬汉冒险家(道恩·强森饰)，高大威猛的运动员弗里奇，
                                变成了身材迷你的龟速行李手 (凯文·哈特 饰)，万人迷校花贝珊妮变成一个中年发福教授(杰克·布莱克饰)， 害羞内向的学霸玛莎变成了魅力十足的热辣女战士(凯伦·吉兰饰)。 面对丛林猛兽的袭击和邪恶势力的追捕，四人必须共同合作，战胜重重危机，赢得游戏，才能获得重返现实的机会。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/2.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>公牛历险记</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：改编自著名童话《公牛费迪南》，讲述体型庞大的牛费迪南其实温 柔又笨拙，他会屈服于命运成为一只勇猛的斗牛吗？给小兔子做牛工呼吸也是够了！WWE巨星约翰·塞纳配音费迪南，蜜汁 适合，SNL的凯特·迈克金农，《处女孕事》女主吉娜·罗德里格兹、著名逗比安东尼·安德森参与配音。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">29</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/7.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>谜巢</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：生物科技公司研究员卢克·李（吴尊 饰）深入一座古墓随即失去音讯，剧毒生物 学博士嘉·李（李冰冰 饰）得知弟弟卢克失踪的消息，随即与医药集团总裁梅森·伯罗斯（凯尔希 ·格兰莫 饰）组建一支专业的搜救队，在救援队长杰克·雷德利（凯南·鲁兹饰
                                ）的带领下，一行人前往卢克·李失踪的地点搜寻，却意外闯入神秘地下世界，一段意想不到冒险之旅就此展开……
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>

                    <li class="LI clearfix">
                        <div class="listCon">
                            <img src="../images/13.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>星球大战8之最后的绝地武士</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">《星球大战8》（Star Wars: Episo de VIII）是动作、科幻、冒险电影《星球大战后传》系列的第2部，由莱恩·约翰逊执 导，黛茜·雷德利、约翰·波耶加、格温多兰·克里斯蒂、奥斯卡·伊萨克联合主演。影片故事紧接
                                《星球大战：原力觉醒》，讲述了遥远的银河系中恐怖政权“第一秩序 ”袭击新共和国首都之后的事。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/6.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>芳华</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">影片讲述了在充满理想和激情的军 队文工团，一群正值芳华的青春少年，经历着成长中 的爱情萌发与充斥变数的人生命运。质朴善良的刘峰因为经常为大 家服务，在文工团被称为“活雷锋”、“万金油”。从农村来到军队文工团的何小萍，
                                因“不良习气”屡次遭到文工团女兵萧穗子、林丁丁、郝淑雯等人的歧视与排斥。刘峰、何小萍、萧穗子、林丁丁、 郝淑雯、陈灿等人情感缠绕、交集，大时代的背景之下，每个人的命运大相径庭，却都拥有着出人意料的人生归宿。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">39</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/3.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>绝命时钟2之22</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">有严格作息规律的男主角迪伦(哈思曼 饰)有一种天生的洞察规律的能力， 某日下午2时22分，身为航空管制员迪伦·布兰森被神秘光亮所麻痹， 而这差点让他指挥的飞机失事。从此他每天都会感受到这光亮，渐渐发现自己身处某种循环之中
                                。一次非常偶然的机会，迪伦遇见了让他一见钟情的莎拉（泰莉莎 饰），二人聊天惊讶发现， 莎拉就是迪伦差点酿成飞行事故的航班乘客，非常巧合的是他们同年同月同日出生。 随着二人的了解深入，迪伦与莎拉的巧合也越来越多，频繁出现的幻觉与不断循环的事件
                                将二人的命运与三十年前发生在纽约中央车站一起情杀案联系在一起， 迪伦一直探究“2:22”背后的秘密，发现三十年前的凶杀案即将重演。 ...
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">39</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/12.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>勇敢者游戏之决战丛林</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">影片主要讲述四名性格迥异的高中生意外穿越到险象环生的勇敢者游戏中， 变身成为与自身性格外貌截然不同的游戏角色： 瘦小“弱鸡”斯宾塞变成了硬汉冒险家(道恩·强森饰)，高大威猛的运动员弗里奇，
                                变成了身材迷你的龟速行李手 (凯文·哈特 饰)，万人迷校花贝珊妮变成一个中年发福教授(杰克·布莱克饰)， 害羞内向的学霸玛莎变成了魅力十足的热辣女战士(凯伦·吉兰饰)。 面对丛林猛兽的袭击和邪恶势力的追捕，四人必须共同合作，战胜重重危机，赢得游戏，才能获得重返现实的机会。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/2.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>公牛历险记</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：改编自著名童话《公牛费迪南》，讲述体型庞大的牛费迪南其实温 柔又笨拙，他会屈服于命运成为一只勇猛的斗牛吗？给小兔子做牛工呼吸也是够了！WWE巨星约翰·塞纳配音费迪南，蜜汁 适合，SNL的凯特·迈克金农，《处女孕事》女主吉娜·罗德里格兹、著名逗比安东尼·安德森参与配音。
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">29</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                    <li class="Li clearfix">
                        <div class="listCon">
                            <img src="../images/7.jpg" alt="">
                            <div class="mask">
                                <span>改编自著名童话《公牛费迪南》，讲述体</span>
                                <span>106分钟 - 动画 剧情 冒险</span>
                                <span>导演：卡洛斯·沙尔丹哈</span>
                                <span>主演：约翰·塞纳，吉娜·罗德里格兹，鲍比...</span>
                                <span>1月19日上映</span>
                                <span>2家影院上映9场</span>
                            </div>
                        </div>
                        <div class="title">
                            <a>谜巢</a>
                            <span class="sp1">8.0分</span>
                            <br>
                            <span class="sp2">剧情概要：生物科技公司研究员卢克·李（吴尊 饰）深入一座古墓随即失去音讯，剧毒生物 学博士嘉·李（李冰冰 饰）得知弟弟卢克失踪的消息，随即与医药集团总裁梅森·伯罗斯（凯尔希 ·格兰莫 饰）组建一支专业的搜救队，在救援队长杰克·雷德利（凯南·鲁兹饰
                                ）的带领下，一行人前往卢克·李失踪的地点搜寻，却意外闯入神秘地下世界，一段意想不到冒险之旅就此展开……
                            </span>
                        </div>
                        <div class="price">
                            <span class="sp1">44</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="butn">
                <div class="before btn">
                    <span><</span>
                </div>
                <div class="next btn">
                    <span>></span>
                </div>
            </div>
            <!--家境即将上映-->
            <p class="navigation clearfix">即将上映
                <span>7部影片</span>
            </p>
            <div class="ready clearfix">
                <ul class="clearfix">
                    <li>
                        <div>
                            <div class="image">
                                <img src="../images/5.jpg" alt="" class="IMG">
                                <div class="mask">
                                    <img src="../images/love-2.png" alt="">
                                    <span>想看</span>
                                </div>
                            </div>
                            <p class="p1">祖宗十九代
                                <span>8.0分</span>
                            </p>
                            <span class="sp1">一个在现实中失意的青年作家小贝,在现</span>
                            <span class="sp2">95分钟 - 喜剧</span>
                            <span class="sp2">导演：郭德纲</span>
                            <span class="sp2">主演：岳云鹏,吴秀波,王宝强,大鹏,吴君如,井柏然,...</span>
                            <span class="sp2">2月16日上映</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="image">
                                <img src="../images/5.jpg" alt="" class="IMG">
                                <div class="mask">
                                    <img src="../images/love-2.png" alt="">
                                    <span>想看</span>
                                </div>
                            </div>
                            <p class="p1">祖宗十九代
                                <span>8.0分</span>
                            </p>
                            <span class="sp1">一个在现实中失意的青年作家小贝,在现</span>
                            <span class="sp2">95分钟 - 喜剧</span>
                            <span class="sp2">导演：郭德纲</span>
                            <span class="sp2">主演：岳云鹏,吴秀波,王宝强,大鹏,吴君如,井柏然,...</span>
                            <span class="sp2">2月16日上映</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="image">
                                <img src="../images/5.jpg" alt="" class="IMG">
                                <div class="mask">
                                    <img src="../images/love-2.png" alt="">
                                    <span>想看</span>
                                </div>
                            </div>
                            <p class="p1">祖宗十九代
                                <span>8.0分</span>
                            </p>
                            <span class="sp1">一个在现实中失意的青年作家小贝,在现</span>
                            <span class="sp2">95分钟 - 喜剧</span>
                            <span class="sp2">导演：郭德纲</span>
                            <span class="sp2">主演：岳云鹏,吴秀波,王宝强,大鹏,吴君如,井柏然,...</span>
                            <span class="sp2">2月16日上映</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--影院-->
            <div class="place-rank clearfix">
                <div class="place clearfix">
                    <p class="address-cinema">南京影院
                        <span>共2家。2家可在线选座购票</span>
                    </p>
                    <p class="type-area">类型:
                        <span class="active">在线选座</span>
                        <span>电子券</span>
                    </p>
                    <p class="type-area">区域:
                        <span class="active">全部</span>
                        <span>鼓楼区</span>
                    </p>
                    <p class="conditions">2 家影院符合选择条件</p>
                    <div class="conditions-cinema clearfix">
                        <div class="cinema-img clearfix">
                            <img src="../images/cinema1.jpg" alt="">
                        </div>
                        <div class="cinema-introduce">
                            <a href="#">SFC上影影城（南京新城市广场店）</a>
                            <span>鼓楼区 - 南京市草场门大街99号新城市广场三层</span>
                        </div>
                        <div class="price">
                            <span class="sp1">24</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </div>
                    <div class="conditions-cinema clearfix">
                        <div class="cinema-img clearfix">
                            <img src="../images/cinema2.png" alt="">
                        </div>
                        <div class="cinema-introduce">
                            <a href="#">幸福蓝海国际影城-世茂滨江店</a>
                            <span>鼓楼区 - 鼓楼区南通路99号4号楼 </span>
                        </div>
                        <div class="price">
                            <span class="sp1">39</span>
                            <span class="sp2">元起</span>
                            <span class="buy">选座购票</span>
                        </div>
                    </div>
                </div>
                <div class="RankAll">
                    <div class="rank clearfix">
                        <p class="title">周热映排行</p>
                        <div class="rank-name-session clearfix">
                            <span class="sp1">排行</span>
                            <span class="sp2">片名</span>
                            <span class="sp3">上映场次</span>
                        </div>
                        <ul class="week clearfix">
                            <li>
                                <span class="sp0">1
                                    <span class="sp1">马戏之王</span>
                                    <span class="sp2">69场</span>
                                </span>
                                <div>
                                    <img src="../images/rank4.jpg" alt="" class="show">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <span class="sp1">神秘巨星</span>
                                    <span class="sp2">30场</span>
                                </span>
                                <div>
                                    <img src="../images/rank5.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <span class="sp1">南极之恋</span>
                                    <span class="sp2">22场</span>
                                </span>
                                <div>
                                    <img src="../images/rank6.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <span class="sp1">无问西东</span>
                                    <span class="sp2">18场</span>
                                </span>
                                <div>
                                    <img src="../images/rank7.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <span class="sp1">马戏之王</span>
                                    <span class="sp2">69场</span>
                                </span>
                                <div>
                                    <img src="../images/rank4.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank clearfix">
                        <p class="title">新片排行榜</p>
                        <div class="rank-name-session clearfix">
                            <span class="sp1">排行</span>
                            <span class="sp2">片名</span>
                            <span class="sp3">上映日期</span>
                        </div>
                        <ul class="week clearfix">
                            <li>
                                <span class="sp0">1
                                    <span class="sp1">西游女儿国</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank1.jpg" alt="" class="show">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <span class="sp1">捉妖记2</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank2.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <span class="sp1">唐人街探案2</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/rank3.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <span class="sp1">红海行动</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/4.jpg" alt="">
                                </div>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <span class="sp1">祖宗十八代</span>
                                    <span class="sp2">2月16日</span>
                                </span>
                                <div>
                                    <img src="../images/5.jpg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rank clearfix">
                        <p class="title">热门影院</p>
                        <ul class="hot clearfix">
                            <li>
                                <span class="sp0">1
                                    <a href="#">南京达美影城（太阳宫店）</a>
                                </span>
                                <span class="sp3">玄武区 - 玄武区阳光路3号太阳宫广场</span>
                            </li>
                            <li>
                                <span class="sp0">2
                                    <a href="#">SFC上影影城（南京新城市广场店）</a>
                                </span>
                                <span class="sp3">鼓楼区 - 南京市草场门大街99号新城市广场三层</span>
                            </li>
                            <li>
                                <span class="sp0">3
                                    <a href="#">幸福蓝海国际影城-世茂滨江店</a>
                                </span>
                                <span class="sp3">鼓楼区 - 鼓楼区南通路99号4号楼</span>
                            </li>
                            <li>
                                <span class="sp0">4
                                    <a href="#">南京大华大戏院</a>
                                </span>
                                <span class="sp3">玄武区 - 玄武区阳光路3号太阳宫广场</span>
                            </li>
                            <li>
                                <span class="sp0">5
                                    <a href="#">南京耀莱成龙国际影城板桥店</a>
                                </span>
                                <span class="sp3">雨花台区 - 雨花台区新湖大道9号花生唐商业街3号楼</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--尾部标签-->
        <footer class="clearfix">
            <div class="title clearfix">
                <img src="../images/movie.png" alt="">
            </div>
            <div class="help">
                <p>购票帮助:</p>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
                <a href="#">购票流程</a>
            </div>
            <div class="wechat clearfix">
                <img src="../images/shuaibi.png" alt="">
                <p>帅哥票务微信</p>
            </div>
        </footer>
        <!--结束说明-->
        <div class="end clearfix">
            <span>&copy2000-2017&nbsp&nbsp&nbsp国美在线电子商务有限公司&nbsp&nbsp&nbsp版权 所有&nbsp&nbsp&nbsp沪ICP备11009419号&nbsp&nbsp&nbsp沪B2-20120004号
            </span>
        </div>
        <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../javascripts/indexMouse.js"></script>
    </div>
</body>

</html>